.boton-marron{
    @include boton($brown);
}
.boton-verde{
    @include boton($naranja);
}
.boton-blanco{
    @include boton($naranja);
    padding-top: 1rem;
    padding-bottom: 0.1rem;
}
.boton-rojo-block{
    margin-bottom: 1rem;
    @include boton($rojo);
}
.boton-blanco-verde{
    @include boton($blanco, $verde);
}
.boton-blanco-marron{
    @include boton($blanco, $brown);
}
