@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;700&display=swap');

$fuente_principal: 'IBM Plex Sans Arabic', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$negro: #2f2838;
$naranja: #eb4b2d;
$verde:#58ab37;
$verdeClaro: #91FE54;
$blanco: #FFFFFF;
$gris: #e1e1e1;
$grisOscuro: #333333;
$rojo: rgb(189, 7, 7);
$brown: #83624f;




$separacion: 5rem;

// Fuentes

$delgada: 300 italic;
$regular : 400;
$bold: 700;
$black: 900