.footer{
    min-height: 8vh;
    max-height: 8vh;
    background-color: $blanco;

    .content-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p{  
            color: $negro;
            font-weight: $delgada;
            margin-bottom: 0;
        }
    }
}