.productos{
    display: flex;
    flex-direction: column;

    span{
        color: $naranja;
    }

    span::after, span::before{
        background-color: $negro;
    }

    h2{
        text-align: start;
        color: $negro;
        margin-left: 1rem;
    }
    .lista-productos{
        @include grid(1, 0);

        .producto{
            display: flex;
            flex-direction: column;
            box-shadow: .1rem.5rem 1.2rem rgba($color: $negro, $alpha: 0.1) ;
            margin-bottom: 2rem;


            .content-producto{
                display: flex;
                height: 5rem;
                justify-content: space-between;
                align-content: center;

                &:nth-child(1){
                    justify-content: flex-start;
                }

            }

            a{
                display: flex;
                justify-content: center;
                align-items: center;
                img{    
                    height: 100%;
                    filter: invert(100%);
                }
            }

            h3{
                margin-top: 1rem;
                margin-left: 1rem;
                font-size: 1.8rem;
                letter-spacing: 1.3;
                text-align: center;
                font-weight: $bold;
                color: $negro;
            }

            
        }
    }
    @include tablet{
        .lista-productos{
            @include grid(2, 3rem);
        }
    }
    
    @include desktop {
        .lista-productos{
            @include grid(3, 3rem);
        }
        h2{
            margin-left: 5rem!important;
        }
    }

}

.producto-page{
    margin-top: 10rem;
}

.item-list{
    color: $blanco;
}   



